<div *ngIf="settingsClicked">
  <div class="container">
      <h1>Set Your Locations!</h1>
      <p>Click the setting button again to close this menu</p>
      <input type="text" [(ngModel)]="stationValue" placeholder="BART station name">
      <input type="text" [(ngModel)]="city1Value" placeholder="Weather for 1st City">
      <input type="text" [(ngModel)]="city2Value" placeholder="Weather for 2nd City">
      <div>      
        <button (click)="onSetCookie()">Set Locations</button>
        <button (click)="onGetCookie()">View Set Locations</button>
      </div>
      <p id="cookieValue">{{cookieValueMessage}}</p>
    </div>
</div>
  