.container {
    display: flex;
    align-items: flex-start;
    background: linear-gradient(to right, #ffffff, #e5e1e1);
}

.logo {
    width: 10%;
    box-shadow: 8px 8px lightslategray;
    padding: 10px;
    border-radius: 8px
  }

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }

  .station {
    width: 75%;
    height: 100%;
    font-size: 4vw;
    line-height: 1.1;
    display: flex;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;    display: flex; /* Use flexbox for station content */
    flex-direction: column;
}

.station h1 {
    margin-top: auto;
    font-weight: normal;
    margin: 0; /* Remove default margins */
}

.timeContainer {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.settingContainer {
    display: flex;
    align-items: flex-start;
}

.filler{
    width: 90%;
}

.settingsButton{
    padding: 5px;
    width: 10%;
}

.settingsButton .settings-img {
    cursor: pointer;
}

.time {
    font-size: 2vw;
    line-height: 3;
    padding-right: 5px;
    text-align: right;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;    display: flex; /* Use flexbox for station content */
}

.time p {
    align-self: flex-end;
    display: flex;
    margin-top: auto;
    margin: 0; /* Remove default margins */
}
