
<div class="container">
    <div class="logo">
            <a href="https://www.bart.gov/">
            <img src="assets/images/logo.png" alt="BART Logo"> </a>
    </div>

    <div class = "station">
        <h1>{{ stationName }}</h1>
    </div>

    <div class = "timeContainer">
        <div class = "settingContainer">
        <div class="filler">
            <p></p>
        </div>
            <div class = "settingsButton">
                <img src="assets/images/settings.png" alt="Settings" class="settings-img">
            </div>
        </div>
        <div class = "time">
            <p>{{ currentTime }}</p>
        </div>
    </div>    
</div>

<div class="arrival-times">
    <ul>
        <li *ngFor="let dest of etd" class="destination-item">
            <div class="color-box" [ngStyle]="{'background-color': dest.estimate[0].color}"></div>
            <span class="destination-name">{{ dest.destination }} </span>
            <span class="departure-time">{{ dest.estimate[0].minutes }}, &nbsp; {{ dest.estimate[1].minutes }}, &nbsp; {{ dest.estimate[2].minutes }}</span>
          </li>
      </ul>
</div>